<!DOCTYPE html>
<html>
<head>
    <title>Booking Confirmation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/booking_confirmation.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Booking Confirmation</h1>
    <p>Your booking for flight {{ booking.flight_number }} has been confirmed.</p>
    <p>Departure: {{ booking.departure_time }}</p>
    <p>Arrival: {{ booking.arrival_time }}</p>
    <p>Departure Airport: {{ booking.departure_airport }}</p>
    <p>Arrival Airport: {{ booking.arrival_airport }}</p>
    <p>Price: ${{ booking.price }}</p>
</body>  
</html>