<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <title>Payment</title>
</head>
<body>
    <img src="{% static 'images/Desti.back.png' %}" alt="background" id="Back">
    <img src="{% static 'images/Desti.floor.png' %}" alt="floor" id="Floor">
    <img src="{% static 'images/Desti.sun.png' %}" alt="sun" id="Sun">
    <img src="{% static 'images/cloud1.png' %}" alt="cloud" id="Cloud">
    <img src="{% static 'images/cloud1.png' %}" alt="cloud" id="Cloud2">
    <div class="container">
        <h1>Payment for Flight {{ flight.flight_number }}</h1>
        <p>Departure: {{ flight.departure_time }}</p>
        <p>Arrival: {{ flight.arrival_time }}</p>
        <p>Departure Airport: {{ flight.departure_airport }}</p>
        <p>Arrival Airport: {{ flight.arrival_airport }}</p>
        <p>Price: ${{ flight.price }}</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">Pay Now</button>
        </form>
    </div>
</body>
</html>