html {
    overflow: hidden;
}
img {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
    }
.container {
    position: relative; /* Makes it the positioning context */
}
#Back {
    display: block;
    width: 80%;
    height: auto; /* Adjust as needed */
    margin: 0 auto;
    z-index: 0; /* Ensures it's behind #Logo */
}
#Logo {
    display: block;
    width: 70%; /* Adjust to a reasonable percentage or pixel value */
    height: auto; /* This will automatically adjust the height to maintain the aspect ratio */
    margin: 0 auto; /* Center horizontally, adjust if needed */
    position: absolute; /* Allows positioning over #Back */
    z-index: 1; /* Ensures it appears on top of #Back */
    top: 30%; /* Example to move down, adjust as needed */
    left: 50%; /* Center horizontally, adjust as needed */
    transform: translate(-50%, -50%); /* Adjusts for the dimensions of #Logo to center it */
    object-fit: contain; /* Maintains aspect ratio without cropping */
}
body {
            background-color: #a1e9ff;
        }
        h1 {
            font-family: 'Press Start 2P', cursive;
            color: #a1e9ff;
            position: absolute;
            top: 45%; /* Adjust as necessary */
            left: 51%;
            transform: translate(-50%, -50%); /* Centers the h1 */
            text-align: center;
            z-index: 2; /* Ensures that the h1 is above #Back */
        }
       /* Container for buttons */
.container {
    position: relative;
    width: 100%; /* Adjust based on your layout */
    height: 100px; /* Adjust based on your layout */
}

/* Styling for the login button container */
.login-button {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 60%; /* Adjust as necessary */
    left: 50%; /* Adjust as necessary */
    transform: translate(-50%, -50%);
    z-index: 3; /* Ensures it's above all other elements */
}
/* Styling for the register button container */
.register-button {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 65%; /* Adjust as necessary */
    left: 50%; /* Adjust as necessary */
    transform: translate(-50%, -50%);
    z-index: 3; /* Ensures it's above all other elements */
}
button {
    background-color: #a1e9ff; /* Color de fondo */
    border: none;
    color: dark blue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive; /* Fuente estilo pixel */
    border: 3px solid #FFFFFF; /* Borde blanco para efecto pixel */
    box-shadow: 0 0 0 2px #00A0E4; /* Sombra para profundizar el efecto pixel */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave */
}
button:hover {
    background-color: #0083B0; /* Color más oscuro al pasar el mouse */
    box-shadow: 0 0 0 2px #0083B0; /* Sombra que coincide con el nuevo color de fondo */
}
        #Floor {
            position: absolute;
            bottom: 7px; /* Lower the image by 10 pixels */
            left: 0;
            width: 100%;
            height: auto;
        }
        @keyframes rotateSun {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
          
          #Sun {
            position: absolute;
            top: -160px;
            left: 65%;
            width: 1000px;
            height: auto;
            animation: floatSun 5s ease-in-out infinite, rotateSun 30s linear infinite; /* Adjust time as needed */
          }
                  @keyframes moveClouds {
            from {
              transform: translateX(-100%);
            }
            to {
              transform: translateX(100%);
            }
          }
          
          #Cloud, #Cloud2, #Cloud3 {
            position: absolute;
            width: 50%; /* Adjust size */
            z-index: 0; /* Above background */
            animation: moveClouds 30s linear infinite; /* Adjust time as needed */
          }
          
          #Cloud {
            top: 2%;
            left: -7%;
          }
          
          #Cloud2 {
            top: 15%;
            left: 60%;
          }
          #Cloud3 {
            top: 30%;
            left: 30%;
          }