html {
    overflow: hidden; /* Prevent scrollbars */
}
body {
    font-family: 'Press Start 2P', cursive;
background-color: #a1e9ff; /* Light blue background */
position: relative; /* Needed for absolute positioning of children */
min-height: 100vh; /* Ensure full viewport height */
margin: 0; /* Remove default margin */
}

/* Background image */
#Back {
position: absolute;
width: 100%; /* Full width */
height: auto; /* Maintain aspect ratio */
bottom: 0; /* Align to bottom */
z-index: -1; /* Ensure it's behind content */
}

/* Floor image */
#Floor {
position: absolute;
bottom: 0; /* Align to bottom */
left: 0;
width: 100%; /* Full width */
height: auto; /* Maintain aspect ratio */
z-index: -1; /* Above background, behind content */
}
#Logo {
position: absolute;
top: 20%; /* Adjust based on design */
left: 50%; /* Center horizontally */
transform: translate(-50%, -50%); /* Center align */
width: auto; /* Adjust based on design */
height: auto; /* Maintain aspect ratio */
z-index: -1; /* Above all background and decorative images */
}

/* Sun */
#Sun {
position: absolute;
top: -15%; /* Adjust based on design */
left: 65%; /* Position towards the right */
width: 50%; /* Adjust size */
height: auto; /* Maintain aspect ratio */
z-index: 1; /* Above background */
}

/* Clouds */
#Cloud, #Cloud2, #Cloud3 {
position: absolute;
width: 50%; /* Adjust size */
height: auto; /* Maintain aspect ratio */
z-index: -1; /* Above background */
}

#Cloud {
top: 10%;
left: 10%;
}

#Cloud2 {
top: 15%;
left: 50%;
}

#Cloud3 {
top: 20%;
left: 30%;
}

/* Autocomplete styles */
.autocomplete-suggestions {
border: 1px solid #e0e0e000;
max-height: 150px;
overflow-y: auto;
background-color: #f9f9f900; /* Light background to match the theme */
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
border-radius: 4px; /* Rounded corners */
z-index: 1;
}

.autocomplete-suggestion {
padding: 8px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #e0e0e0; /* Separators for suggestions */
}

.autocomplete-suggestion:last-child {
border-bottom: none; /* Remove bottom border for the last suggestion */
}

.autocomplete-suggestion:hover {
background-color: #e6f7ff; /* Light blue on hover to match theme */
}
#countries-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between; /* Ajusta según sea necesario */
}

.country-container {
flex: 1 0 22%; /* Ajusta este valor para tener en cuenta el margen */
margin: 1%; /* Ajusta el margen según sea necesario */
/* Asegúrate de que el margen total + el ancho no superen el 100% */
}

.country-title {
/* Estilos para el título del país, ajusta según sea necesario */
cursor: pointer;
font-size: 16px; /* Ejemplo de ajuste de tamaño de fuente */
}
.country-item {
flex-basis: calc(50% - 20px); /* Ajusta para el espaciado deseado */
margin: 10px;
}

.country-item, .city-container > div {
flex-basis: calc(10% - 20px); /* Ajusta para 10 elementos por fila con margen */
margin: 10px;
height: 100px; /* Ajusta la altura según sea necesario */
display: flex; /* Asegura que el contenedor use flexbox */
justify-content: center; /* Centra el contenido horizontalmente */
align-items: center; /* Centra el contenido verticalmente */
text-align: center; /* Asegura que el texto dentro del elemento esté centrado */
}

/* Estilo para los contenedores de ciudades */
.city-container {
display: flex; /* Asegura que el contenedor use flexbox */
flex-wrap: wrap; /* Permite que los elementos se envuelvan */
justify-content: space-between; /* Ajusta los elementos uniformemente */
width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
display: none; /* Inicialmente oculto, se muestra con JavaScript */
align-items: center; /* Centra los elementos verticalmente */
text-align: center; /* Asegura que el texto esté centrado */
}
.city-container a, .city-container p {
flex: 1 0 48%; /* Ocupa el 48% del contenedor para dejar espacio entre columnas */
margin: 15px; /* Añade un poco de margen para separación */
font-size: 16px;
}
h2 {
font-size: 16px;
color: black;
}
.country-container {
margin: 5px 0; /* Reduce el margen superior e inferior a 5px */
display: flex; /* Habilita flexbox para el contenedor */
justify-content: center; /* Centra los elementos horizontalmente */
align-items: center; /* Centra los elementos verticalmente */
text-align: center; /* Asegura que el texto esté centrado */
}
#goBackButton {
font-family: 'Press Start 2P', cursive;
position: fixed; /* O `absolute` dependiendo de tu estructura de página */
left: 50%;
bottom: 230px; /* Ajusta la distancia desde el fondo según necesites */
transform: translateX(-50%);
/* Estilos adicionales para el botón */
padding: 10px 20px; /* Ajusta el relleno según sea necesario */
font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
cursor: pointer; /* Cambia el cursor a un puntero */
border: none; /* Remove border */
border-radius: 5px; /* Rounded corners */
background-color: #007bff; /* Bootstrap blue */
color: white; /* Text color */
}